<div class="container-fluid mt-2">
<div class="animated fadeIn">

<div class="row">
  <div class="col-lg-12">
            <div class="card card-secondary-bold">
                <div class="card-header">
                    <i class="fa fa-sitemap"></i> <strong>Affiliate Stats</strong>
                </div>
                    <div class="card-block">
                        <div class="row">  
                        <div class="col-xxs-12 col-6 col-lg-4">
                      <div class="card">
                            <div class="card-block p-1 clearfix">
                                <i class="fa fa-sitemap bg-primary p-1 font-5xl mr-1 float-left"></i>
                                <div class="h2 text-primary mb-0 mt-h">27</div>
                                <div class="text-muted text-uppercase font-weight-bold font-sm">Total Referrals</div>
                            </div>
                    </div>
                <a href="#" class="btn btn-warning btn-block mb-2">Invite Others</a>
                </div>
        <!--/.col-->
                    <div class="col-lg-8">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Level</th>
                                <th>Enhanced</th>
                                <th>Professional</th>
                                <th>Enterprise</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                    </div><!--/.col-->
                    </div><!--/.row-->
                </div>
            </div>
        </div>
        <!--/.col-->
</div><!--/.row-->
</div><!--/.animated-->
</div><!--/.container-->