     <div class="container-fluid mt-2">
                <div class="animated fadeIn">
                    <div class="card card-info-bold">
                        <div class="card-header">
                            <i class="fa fa-calendar-o"></i><strong>Calendar</strong>
                            <div class="card-actions">
                                <a href="http://angular-ui.github.io/ui-calendar/">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div class="card-block">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>

            </div>