 <div class="container-fluid mt-2">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Create a Tag</strong>
                                </div>
                                <div class="card-block">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">Tag Name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Tag Name">
                                            </div>
                                        </div>
                                      
                                        <!--
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">Start Date</label>
                                                <div class="cold-md-9 pl-1">
                                                    <fieldset class="form-group">
                                                        <label>DateRangePicker</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input name="daterange" class="form-control" type="text">
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>-->
                            
                                         <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">Add Your Contacts</label>
                                            <div class="col-md-9">
                                                <div class="card">
                        <div class="card-header">
                            <i class="icon-people"></i> Your Contacts
                            <label class="pr-3" style="float: right">Selected 1/100 Contacts</label>
                            <div class="card-actions">
                                <a href="http://l-lin.github.io/angular-datatables/#/gettingStarted">
                                    <small class="text-muted">docs</small>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="ml-1 my-1">
                                <p>Select All<p>
                                  <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                </label>
                            </div>
                        </div>
                                                
                                                <div class="card-block">
                    
                            <table class="table table-striped table-bordered datatable">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Anton Phunihel</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Alphonse Ivo</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Thancmar Theophanes</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        

                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Walerian Khwaja</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Clemens Janko</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Chidubem Gottlob</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Hristofor Sergio</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Tadhg Griogair</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Pollux Beaumont</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Adam Alister</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Carlito Roffe</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Sana Amrin</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Adinah Ralph</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                      
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Dederick Mihail</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Hipólito András</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Fricis Arieh</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Scottie Maximilian</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>

                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Bao Gaspar</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Tullio Luka</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Felice Arseniy</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Finlay Alf</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>

                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Theophilus Nala</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Sullivan Robert</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Kristóf Filiberto</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Kuzma Edvard</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Bünyamin Kasper</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Crofton Arran</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Bernhard Shelah</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Grahame Miodrag</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Innokentiy Celio</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                       
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Kostandin Warinhari</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                      
                                    </tr>
                                    <tr>
                                         <td> 
                                            <label class="switch switch-icon switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input" checked="">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </td>
                                        <td>Ajith Hristijan</td>
                                        <td>email@email.com</td>
                                        <td>123-456-789</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                                                     <div class="card-footer">
                                                  <div class="form-actions" style="float: right;">
                                                    <button type="submit" class="btn btn-success">Finish Tag</button>
                                                    <button type="button" class="btn btn-default">Restart</button>
                                                </div>
                                             </div>
                                                </div>
                                            </div>

                                        </div>

          
                                        
                                     
                                    </form>
                               
                            </div>
                        </div>
                            <!--2nd Card-->
                           <!-- <div class="card card-accent-primary">
                                 <div class="card-header">
                                    <strong>Project Confirmation</strong>
                                 </div>
                                <div class="card-block">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div id="new-start-date" class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input">Set New Start Date</label>
                                             <div class="cold-md-9 pl-1">
                                                    <fieldset class="form-group">
                                                        
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input name="daterange" class="form-control" type="text">
                                                        </div>
                                                        <label>What is your new start date for this project?</label>
                                                    </fieldset>
                                                </div>
                                        </div>
                                    </form>
                                </div>
                                  <div class="card-footer">
                                                  <div class="form-actions">
                                                    <button type="submit" class="btn btn-primary">Complete Project</button>
                                                    <button type="button" class="btn btn-default">Go Back</button>
                                                </div>
                                             </div>
                                </div> -->
                        
                    </div>
                </div>
            <!-- /.conainer-fluid -->
            </div>
            </div>