    <div class="container-fluid mt-2">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-info-bold email-app">
                                <div class="card-header">
                                    <i class="fa fa-comments"></i><strong>New Message</strong>
                                </div>
                              <!--  <nav>
                                    <a href="page-inbox-compose.html" class="btn btn-warning btn-block">New Message</a>

                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa fa-star"></i> Stared</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa fa-rocket"></i> Sent</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa fa-trash-o"></i> Trash</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa fa-bookmark"></i> Important<span class="badge badge-info">5</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
                                        </li>
                                    </ul>
                                </nav> -->

                                <main>

                                    <div class="message clearfix">
                                        <form>
                                            <div class="form-group row">
                                                <label for="to" class="col-sm-1 form-control-label">To:</label>
                                                <div class="col-sm-11">
                                                    <input type="email" class="form-control" id="to" placeholder="Type name or group name">
                                                </div>
                                            </div>
                                              <div class="form-group row">
                                                <label for="to" class="col-sm-1 form-control-label">Add Tag</label>
                                                <div class="col-sm-11">
                                                <fieldset class="form-group">
                                                <select id="select2-2" class="form-control select2-multiple" multiple="">
                                                    <option>Option 1</option>
                                                    <option selected="">Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                 </select>
                                                </fieldset>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="bcc" class="col-sm-1 form-control-label">Send As:</label>
                                                <div class="col-sm-11">
                                                <label class="radio-inline " for="inline-radio1">
                                                    <input type="radio" id="textMessageRadio" name="inline-radios" value="Text Message">Text Message
                                                </label>
                                                <label class="radio-inline" for="inline-radio2">
                                                    <input type="radio" id="emailRadio" name="inline-radios" value="Email">Email
                                                </label>
                                                <label class="radio-inline" for="inline-radio3">
                                                    <input type="radio" id="preferredMethodRadio" name="inline-radios" value="Preferred Method">Preferred Method
                                                </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                            <label class="col-sm-1 form-control-label" for="select">Template</label>
                                                <div class="col-sm-6">
                                                    <select id="select" name="select" class="form-control" size="1">
                                                        <option value="0">Please select</option>
                                                        <option value="1">Option #1</option>
                                                        <option value="2">Option #2</option>
                                                        <option value="3">Option #3</option>
                                                    </select>
                                                </div>
                                            </div>
                                       

                                        </form>

                                        <div class="row">
                                            <div class="col-sm-11 offset-sm-1">
                                                <br>
                                                <div class="form-group">

                                                    <textarea class="form-control" id="message" name="body" rows="12" placeholder="Click here to start message"></textarea>

                                                </div>

                                                <div class="form-group">

                                                    <button type="submit" class="btn btn-success">Send</button>
                                                    <button type="submit" class="btn btn-warning">Schedule</button>
                                                   <!-- <button type="submit" class="btn btn-secondary">Draft</button> -->
                                                    <button type="submit" class="btn btn-danger">Discard</button>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>

            </div>