<div class="container-fluid mt-2">
    <div class="animated fadeIn">
        <div class="row">
        <div class="col-md-12">
        <div class="card card-secondary-bold">
           <div class="card-header">
                       <i class="fa fa-usd"></i><strong>Payments</strong>
                     </div>
                    <div class="card-block">
                    <div class="row">
                        <div class="col-sm-7">
                            <h5>Payment Information</h5>
                            <div class="form-group row mt-2">
                                <label class="col-md-3 form-control-label">Method</label>
                                <div class="col-md-9">
                                    <span class="form-control-static">Card ending in 09</span><br>
                                    <a data-toggle="modal" href="#addPaymentMethod"><span>Add new payment method</span></a><br>
                                    <a data-toggle="modal" href="#addPaymentMethod"><span>Change payment method</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
               <div class="card-footer">
                <div class="form-actions">
                <button type="submit" class="btn btn-success">Save Changes</button>
                </div>
          </div>
          </div>
          </div>
</div>
</div>
</div>