  <!--Modal for New Exposure-->
        <div class="modal fade" id="newExposure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Log New Exposure with "Name"</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">Type</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                <select id="select" name="select" class="form-control" size="1">
                                                    <option value="0">Please select</option>
                                                    <option value="1">Face to Face</option>
                                                    <option value="2">Phone</option>
                                                    <option value="3">Zoom</option>
                                                    <option value="4">Event</option>
                                                    <option value="5">Email</option>
                                                    <option value="6">Text</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">Date</label>
                                            <div class="col-md-9">
                                                <fieldset class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                                        </span>
                                                        <input type="text" class="form-control" id="date">
                                                    </div>
                                                        <small class="text-muted">ex. 99/99/9999</small>
                                                </fieldset>
                                            </div>
                                        </div>
                                         <div class="form-group row">
                                                <label class="col-md-3 form-control-label">Notes</label>
                                                <div class="col-md-9">
                                                    <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Write notes on the exposure..."></textarea>
                                                </div>
                                            </div>
                                </div>
                            </div>

                        </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
        
        <!--Modal for Editing Contact Info-->
         <div class="modal fade" id="editContact" tabindex="-1" role="dialog" aria-labelledby="editContact" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Contact - "Name"</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            <div class="col-sm-12">

                            <div class="card">
                              
                                <div class="card-block">
                                   <div class="row">
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                                <label for="name">First Name</label>
                                                <input type="text" class="form-control" id="name" placeholder="Enter first name">
                                            </div>
                                       </div>
                                        <div class="col-sm-6">
                                        <div class="form-group">
                                                <label for="name">Last Name</label>
                                                <input type="text" class="form-control" id="name" placeholder="Enter last name">
                                            </div>
                                       </div>
                                    </div>
                                       <div class="row">
                                        <div class="col-sm-6">
                                             <div class="form-group">
                                                <label for="phoneNumber">Phone Number</label>
                                                <input type="text" class="form-control" id="phoneNumber" placeholder="555-555-5555">
                                            </div>
                                       </div>
                                        <div class="col-sm-6">
                                              <div class="form-group">
                                                  <label for="email">Email</label>
                                                <input type="text" class="form-control" id="email" placeholder="Enter email">
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
        
        
       

<div class="container-fluid mt-2">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                
                                    <span class="h4">Stefan Forsberg</span>
                                    
                                    <a class="btn btn-outline-primary" data-toggle="modal" href="#editContact" style="float: right">Edit</a>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                    <div class="col-sm-2">
                                    <img class="avatar" style="" src="img/avatars/7.jpg">
                                    </div>
                                    <div class="col-sm-6">
                                    <span>email@email.com | 123-456-789</span>
                                    </div>
                                        <div class="col-sm-4">
                                              <a class="btn btn-danger ml-1" style="float: right" href="#">
                                                <i class="fa fa-trash-o "></i>
                                                </a>
                                                 <a class="btn btn-info ml-1" style="float: right" href="#">
                                                <i class="icon-camrecorder"></i>
                                                </a>
                                                <a class="btn btn-success ml-1" style="float: right" href="new-message.html">
                                                 <i class="fa fa-edit "></i>
                                                 </a>
                                        </div>
                                
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-comments"></i>
                                    Preferred communication method
                                    <a class="btn btn-sm btn-outline-primary" data-toggle="modal" href="#pcm" style="float: right">Edit</a>
                                </div>
                                <div class="card-block">
                                    Text
                                </div>
                            </div>    
                        </div>
                        <div class="col-sm-6">
                               <div class="card">
                                <div class="card-header">
                                    <i class="icon-tag"></i>
                                    Projects and Tags
                                    <a class="btn btn-sm btn-outline-primary" data-toggle="modal" href="#tagManager" style="float: right">Edit</a> 
                                </div>
                                <div class="card-block">
                                   <span class="badge badge-warning">NASCAR</span>
                                   <span class="badge badge-success">Legal Shield</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card email-app">
                                <nav>
                                    <a href="page-inbox-compose.html" class="btn btn-success btn-block">New Message</a>
                                    <a href="#newExposure" data-toggle="modal" class="btn btn-primary btn-block">New Exposure</a>
                                
                                 <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#exposures"><i class="icon-speech"></i> Exposures</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#notes"><i class="icon-book-open"></i> Notes</a>
                                        </li>
                                       
                                    </ul>
                                </nav>
                                
                                    
                                    <!--<div class="toolbar">
                                        <span class="btn-group">
                                            <button type="button" class="btn btn-secondary">
                                                <span class="fa fa-star"></span>
                                            </button>
                                            <button type="button" class="btn btn-secondary">
                                                <span class="fa fa-star-o"></span>
                                            </button>
                                            <button type="button" class="btn btn-secondary">
                                                <span class="fa fa-bookmark-o"></span>
                                            </button>
                                        </span>

                                        <span class="btn-group">
                                            <button type="button" class="btn btn-secondary">
                                                <span class="fa fa-mail-reply"></span>
                                            </button>
                                            <button type="button" class="btn btn-secondary">
                                                <span class="fa fa-mail-reply-all"></span>
                                            </button>
                                            <button type="button" class="btn btn-secondary">
                                                <span class="fa fa-mail-forward"></span>
                                            </button>
                                        </span>

                                        <button type="button" class="btn btn-secondary">
                                            <span class="fa fa-trash-o"></span>
                                        </button>

                                        <span class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                                <span class="fa fa-tags"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">add label <span class="badge badge-danger"> Home</span></a>
                                                </li>
                                                <li><a href="#">add label <span class="badge badge-info">Job</span></a>
                                                </li>
                                                <li><a href="#">add label <span class="badge badge-success">Clients</span></a>
                                                </li>
                                                <li><a href="#">add label <span class="badge badge-warning">News</span></a>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>-->
                    <main>
                    <div class="tab-content">
                                       

               <div class="tab-pane active" id="exposures">
                    <div id="communication" style="height: 300px; overflow-y: scroll">        
                        <div class="col-sm-12">
                            <div class="card card-accent-warning">
                                <div class="card-header accordion"><span class="badge badge-warning">Phone</span>
                                    Exposure 1 <a class="btn btn-outline-warning" href="#editExposure" data-toggle="modal" style="float: right">Edit</a>
                                </div>
                                <div class="card-block exposure-notes">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                                    ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-12">
                            <div class="card card-accent-info">
                                <div class="card-header accordion"><span class="badge badge-info">Zoom</span>
                                    Exposure 2 <a class="btn btn-outline-info" data-toggle="modal" href="#newExposure" style="float: right">Edit</a>
                                </div>
                                <div class="card-block exposure-notes">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                                    ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-12">
                            <div class="card card-accent-success">
                                <div class="card-header accordion"><span class="badge badge-success">Face to Face</span>
                                    <span class="card-title" style="display: inline;">Exposure 3</span>
                                    <a class="btn btn-outline-success" href="#" style="float: right">Edit</a>
                                </div>
                                <div class="card-block exposure-notes">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                                    ea commodo consequat.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 push-3">
                               <div class="card"> 
                                <div class="card-block">
                                    <span class="badge badge-success">Text</span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. </p>
                                    TIME
                                </div>
                            </div>
                          </div>
                         <div class="col-md-9">
                            <div class="card">
                                
                                <div class="card-block">
                                    <span class="badge badge-info">Email</span>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. </p> TIME
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card card-accent-danger">
                                <div class="card-header accordion"><span class="badge badge-danger">Event</span>
                                    Exposure 4 <a class="btn btn-outline-danger" href="#" style="float: right">Edit</a>
                                </div>
                                <div class="card-block exposure-notes">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                                    ea commodo consequat.
                                </div>
                            </div>
                        </div>
                                      
                               </div>
                                   <form method="post" action="" class="pt-2">

                                            <div class="form-group">

                                                <textarea class="form-control" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>

                                            </div>

                                            <div class="form-group">

                                                <button tabindex="3" type="submit" class="btn btn-success">Send message</button>

                                            </div>

                                    </form> 
                               </div>
                                    
                        <div class="tab-pane" id="notes"> 
                                        <div id="noteList" style="height: 300px; overflow-y: scroll;">
                                        <div class="note">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-block">
                                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                                                        ea commodo consequat.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form method="post" action="" class="mt-2">
                                            <div class="form-group">
                                                <textarea class="form-control" id="message" name="body" rows="12" placeholder="Click here write notes"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button tabindex="3" type="submit" class="btn btn-success">Save Note</button>
                                            </div>
                                        </form>
                                        </div>
                                        <!--End info-->
                                    
                                        </div>
                                    </main>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>