<div class="container-fluid mt-2">
                <div class="animated fadeIn">

                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card">
                                <div class="card-block p-1 clearfix">
                                    <i class="fa fa-users bg-primary p-1 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mt-h mb-0">1056</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Contacts</div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="card">
                                <div class="card-block p-1 clearfix">
                                    <i class="fa fa-asterisk bg-success p-1 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mt-h mb-0">14</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Exposures</div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="card">
                                <div class="card-block p-1 clearfix">
                                    <i class="fa fa-comments bg-warning p-1 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mt-h mb-0">200</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Messages Sent</div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="card">
                                <div class="card-block p-1 clearfix">
                                    <i class="fa fa-usd bg-danger p-1 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mt-h mb-0">$1 Billion</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Income</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Start Personal Reporting Card-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                Your Personal Reports
                                </div>
                                <div class="card-block">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Last 7 Days</th>
                                                <th>Last 14 Days</th>
                                                <th>Last 30 Days</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>List Growth</b></td>
                                                <td>1</td>
                                                <td>5</td>
                                                <td>7</td>
                                            </tr>
                                            <tr>
                                                <td><b>Exposures</b></td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td><b>New Associates</b></td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td><b>New Customers</b></td>
                                                <td>2</td>
                                                <td>4</td>
                                                <td>10</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--end personal reporting card-->
                </div>


            </div>
            <!-- /.conainer-fluid -->