<div class="container-fluid mt-2">
                <div class="animated fadeIn">

                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <div class="card-block p-1 clearfix">
                                    <i class="fa fa-users bg-primary p-1 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mt-h mb-0">1056</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Contacts</div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <div class="card-block p-1 clearfix">
                                    <i class="fa fa-asterisk bg-success p-1 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mt-h mb-0">14</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Exposures</div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <div class="card-block p-1 clearfix">
                                    <i class="fa fa-comments bg-warning p-1 font-2xl mr-1 float-left"></i>
                                    <div class="h5 text-primary mt-h mb-0">200</div>
                                    <div class="text-muted text-uppercase font-weight-bold font-xs">Messages Sent</div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                    </div>
                    
                    <!--Start Personal Reporting Card-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-success-bold">
                                <div class="card-header">
                                <i class="fa fa-bar-chart"></i><strong>Personal Reports</strong>
                                </div>
                                <div class="card-block">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Last 7 Days</th>
                                                <th>Last 14 Days</th>
                                                <th>Last 30 Days</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>List Growth</b></td>
                                                <td>1</td>
                                                <td>5</td>
                                                <td>7</td>
                                            </tr>
                                            <tr>
                                                <td><b>Exposures</b></td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--end personal reporting card-->
                    
                    <!--Start Zoom reporting card-->
                    <div class="row">
                    <div class="col-lg-12">
                            <div class="card card-info-bold">
                                <div class="card-header">
                                    <i class="icon-camrecorder"></i><strong>Zoom Reports</strong>
                                </div>
                                <div class="card-block">
                                    <table id="zoomTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Topic</th>
                                                <th>Date / Time</th>
                                                <th>Attendees</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="zoomRow">
                                                <td>Septembers Big Meeting</td>
                                                <td>2012/01/01, 3:00 PM EST</td>
                                                <td>10</td>
                                               
                                            </tr>
                                            <tr class="zoomRow">
                                                <td>Ned's Training</td>
                                                <td>2012/02/01, 3:00 PM EST</td>
                                                <td>12</td>
                                               
                                            </tr>
                                            <tr class="zoomRow">
                                                <td>Weekly Biz Call</td>
                                                <td>2012/02/01, 3:00 PM EST</td>
                                                <td>8</td>
                                                
                                            </tr>
                                            <tr class="zoomRow">
                                                <td>October's Big Call</td>
                                                <td>2012/03/01, 3:00 PM EST</td>
                                                <td>40</td>
                                              
                                            </tr>
                                            <tr class="zoomRow">
                                                <td>November Event Prep</td>
                                                <td>2012/01/21, 3:00 PM EST</td>
                                                <td>35</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">4</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                   </div>
                    <!--end zoom reporting card-->
                </div>


            </div>
            <!-- /.conainer-fluid -->