         <div class="container-fluid mt-2">
                <div class="animated fadeIn">
                    <div class="card card-secondary-bold">
                       <div class="card-header">
                                   <i class="fa fa-gear"></i><strong>Settings</strong>
                                 </div>
                                <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5>Account Summary</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="form-group row mt-2">
                                            <label class="col-md-3 form-control-label">Username</label>
                                            <div class="col-md-9">
                                                <span class="form-control-static">email@email.com</span><br>
                                                <a href="#"><span>Change email</span></a>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label class="col-md-3 form-control-label">Account Plan</label>
                                            <div class="col-md-9">
                                                <span class="form-control-static">Enhanced</span><br>
                                                <a href="#"><span>Manage Account Plan</span></a>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label class="col-md-3 form-control-label" for="select">Time Zone</label>
                                                <div class="col-md-7">
                                                    <select id="select" name="select" class="form-control" size="1">
                                                        <option value="0">Please select a time zone</option>
                                                        <option value="1">Eastern </option>
                                                        <option value="2">Central</option>
                                                        <option value="3">Mountain</option>
                                                        <option value="3">Pacific</option>
                                                    </select>
                                                </div>
                                            </div>
                                   
                                    </div>
                                </div>
                    </div>
                    <div class="card-footer">
                           <div class="form-actions">
                                <button type="submit" class="btn btn-success">Save changes</button>
                           </div>
                    </div>
                </div>
            </div>
            </div>