/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700italic,700,500italic,500,400italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

h1, h2, h3, h4, h5, button, span, ul, li, a {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

p {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	margin: 15px 0;
	color: #515157;
}

.dotted-divider {
    max-width: 2000px;
}

.text-center {
    text-align: center;
}

.iphone-render {
    height: 250px;
    width: 306px;
}

.font100 {font-weight:100;}
.font200 {font-weight:200;}
.font300 {font-weight:300;}
.font400 {font-weight:400;}
.font500 {font-weight:500;}
.font600 {font-weight:600;}
.font700 {font-weight:700;}
.font800 {font-weight:800;}
.font900 {font-weight:900;}

.p5 { padding:5px; }
.p10 { padding:10px; }
.p15 { padding:15px; }
.p25 { padding:25px; }
.p30 { padding:30px; }
.p45 { padding:45px; }
.p60 { padding:60px; }
.p90 { padding:90px; }
.p125 { padding:125px; }

.pad5 { padding-top:5px; }
.pad10 { padding-top:10px; }
.pad15 { padding-top:15px; }
.pad25 { padding-top:25px; }
.pad30 { padding-top:30px; }
.pad45 { padding-top:45px; }
.pad60 { padding-top:60px; }
.pad90 { padding-top:90px; }
.pad125 { padding-top:125px; }
.pad275 { padding-top:275px; }
.pad300 { padding-top:300px; }

.padb5 { padding-bottom:5px; }
.padb10 { padding-bottom:10px; }
.padb15 { padding-bottom:15px; }
.padb25 { padding-bottom:25px; }
.padb30 { padding-bottom:30px; }
.padb45 { padding-bottom:45px; }
.padb60 { padding-bottom:60px; }
.padb90 { padding-bottom:90px; }
.padb125 { padding-bottom:125px; }

.padl5 { padding-left:5px; }
.padl10 { padding-left:10px; }
.padl15 { padding-left:15px; }
.padl25 { padding-left:25px; }
.padl30 { padding-left:30px; }
.padl45 { padding-left:45px; }
.padl60 { padding-left:60px; }
.padl80 { padding-left:80px; }
.padl90 { padding-left:90px; }
.padl125 { padding-left:125px; }

.padr5 { padding-right:5px; }
.padr10 { padding-right:10px; }
.padr15 { padding-right:15px; }
.padr25 { padding-right:25px; }
.padr30 { padding-right:30px; }
.padr45 { padding-right:45px; }
.padr60 { padding-right:60px; }
.padr90 { padding-right:90px; }
.padr125 { padding-right:125px; }

.m5 { margin:5px; }
.m10 { margin:10px; }
.m15 { margin:15px; }
.m25 { margin:25px; }
.m30 { margin:30px; }
.m45 { margin:45px; }
.m60 { margin:60px; }
.m90 { margin:90px; }

.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt45 { margin-top:45px; }
.mt60 { margin-top:60px; }
.mt90 { margin-top:90px; }

.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb25 { margin-bottom:25px; }
.mb30 { margin-bottom:30px; }
.mb45 { margin-bottom:45px; }
.mb60 { margin-bottom:60px; }
.mb90 { margin-bottom:90px; }

.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.ml45 { margin-left:45px; }
.ml60 { margin-left:60px; }
.ml80 { margin-left:80px; }
.ml90 { margin-left:90px; }

.mr5 { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 { margin-right:15px; }
.mr25 { margin-right:25px; }
.mr30 { margin-right:30px; }
.mr45 { margin-right:45px; }
.mr60 { margin-right:60px; }
.mr90 { margin-right:90px; }

.m-q {
  margin: 0.25rem 0.25rem !important; }

.mt-q {
  margin-top: 0.25rem !important; }

.mr-q {
  margin-right: 0.25rem !important; }

.mb-q {
  margin-bottom: 0.25rem !important; }

.ml-q {
  margin-left: 0.25rem !important; }

.mx-q {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important; }

.my-q {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important; }

.m-h {
  margin: 0.5rem 0.5rem !important; }

.mt-h {
  margin-top: 0.5rem !important; }

.mr-h {
  margin-right: 0.5rem !important; }

.mb-h {
  margin-bottom: 0.5rem !important; }

.ml-h {
  margin-left: 0.5rem !important; }

.mx-h {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important; }

.my-h {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

.m-0 {
  margin: 0 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-1 {
  margin: 1rem 1rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mr-1 {
  margin-right: 1rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.mx-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.m-2 {
  margin: 1.5rem 1.5rem !important; }

.mt-2 {
  margin-top: 1.5rem !important; }

.mr-2 {
  margin-right: 1.5rem !important; }

.mb-2 {
  margin-bottom: 1.5rem !important; }

.ml-2 {
  margin-left: 1.5rem !important; }

.mx-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.my-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.m-3 {
  margin: 3rem 3rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.mx-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.p-q {
  padding: 0.25rem 0.25rem !important; }

.pt-q {
  padding-top: 0.25rem !important; }

.pr-q {
  padding-right: 0.25rem !important; }

.pb-q {
  padding-bottom: 0.25rem !important; }

.pl-q {
  padding-left: 0.25rem !important; }

.px-q {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important; }

.py-q {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; }

.p-h {
  padding: 0.5rem 0.5rem !important; }

.pt-h {
  padding-top: 0.5rem !important; }

.pr-h {
  padding-right: 0.5rem !important; }

.pb-h {
  padding-bottom: 0.5rem !important; }

.pl-h {
  padding-left: 0.5rem !important; }

.px-h {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important; }

.py-h {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.p-0 {
  padding: 0 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-1 {
  padding: 1rem 1rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.px-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.p-2 {
  padding: 1.5rem 1.5rem !important; }

.pt-2 {
  padding-top: 1.5rem !important; }

.pr-2 {
  padding-right: 1.5rem !important; }

.pb-2 {
  padding-bottom: 1.5rem !important; }

.pl-2 {
  padding-left: 1.5rem !important; }

.px-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.py-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-3 {
  padding: 3rem 3rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.px-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.px-4 {
  padding-right: 4rem !important;
  padding-left: 4rem !important; }

.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }

.px-8 {
  padding-right: 8rem !important;
  padding-left: 8rem !important; }

.py-8 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto {
  margin-top: auto !important; }

.mr-auto {
  margin-right: auto !important; }

.mb-auto {
  margin-bottom: auto !important; }

.ml-auto {
  margin-left: auto !important; }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.w-10 {width: 10%;}
.w-25 {width: 25%;}
.w-33 {width: 33%;}
.w-50 {width: 50%;}
.w-70 {width: 70%;}
.w-75 {width: 75%;}
.w-80 {width: 80%;}
.w-90 {width: 90%;}
.w-100 {width: 100%;}

.pos-rel {
    position: relative;
}

.t-10 {top: -10px;}
.t-25 {top: -25px;}
.t-50 {top: -50px;}
.t-75 {top: -75px;}
.t-100 {top: -100px;}
.t-150 {top: -150px;}
.t-200 {top: -200px;}
.t-250 {top: -250px;}


.p22 p{
   font-size: 22px; 
}
.hr-100 {
    width: 100%;
}
.title-block {
  padding: 90px 0 40px 0; 
  align-content: center;
  text-align: center;
}
.title-block h1 {
  font-weight: 400;
  text-align: center;
}
.title-block h3 {
  font-weight: 300;
}

.icon-150 {
    height: 150px;
    width: 150px;
}

.icon-125 {
    height: 125px;
    width: 125px;
}

.icon-100 {
    height: 100px;
    width: 100px;
}

.icon-80 {
    height: 80px;
    width: 80px;
}

.icon-50 {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 30px;
}

.divider-line {
    height: 2px;
    background-color: #ececec;
    color: grey;
}

.divider-line-full {
    height: 2px;
    background-color: #ececec;
    color: grey;
    background-size: cover;
}

.outline-grey {
    outline: #ececec solid 1px
}

.orange {color: #f7941d;}
.green {color: #afd274;}
.red {color: #f05e68;}
.blue {color: #36515b;}
.lightblue {color: #3e96c5;}


.orange-spacer {
    height: 11px;
    background-color: #f7941d;
    background-size: cover;
}
.blue-med-spacer {
    height: 11px;
    background-color: #233e4a;
    background-size: cover;
}
.blue-light-spacer {
    height: 11px;
    background-color: #36515b;
    background-size: cover;
}

.red-spacer {
    height: 11px;
    background-color: #f05e68;
    background-size: cover;
}
.grad1 {
    background: #193441; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #193441, #1e6272); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #193441, #1e6272); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #193441, #1e6272); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #193441, #1e6272); /* Standard syntax (must be last) */
}
.grad1 p h1 h4 {
    color: white;
}

.grad2 {
    background: #f7941d; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #d66316, #f7941d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #d66316, #f7941d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #d66316, #f7941d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #d66316, #f7941d); /* Standard syntax (must be last) */
}

.grad3 {
    background: #ea2227; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #a00716, #ea2227); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #a00716, #ea2227); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #a00716, #ea2227); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #a00716, #ea2227); /* Standard syntax (must be last) */
}

.grad4 {
    background: #8bc53f; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #009245, #8bc53f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #009245, #8bc53f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #009245, #8bc53f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #009245, #8bc53f); /* Standard syntax (must be last) */
}

.bg-red-pattern {
    background-image: url(../images/red-background.png);
}

.bg-green-pattern {
    background-image: url(../images/green-background.png);
}

.bg-orange-pattern {
    background-image: url(../images/orange-background.png);
}

.red-text {
    color: #ffe1e5;
    text-shadow: 1px 1px 2px #a00716;
}

.green-text {
    color: #f5fcde;
    text-shadow: 1px 1px 2px #487200;
}

.orange-text {
    color: #ffe9d9;
    text-shadow: 1px 1px 2px #c15c00;
}

.blue-text {
    color: #cedadd;
    text-shadow: #193441;
}

.bg-blue-dark { background-color: #193441 !important; }
.bg-blue-med { background-color: #233e4a !important; }
.bg-blue-light { background-color: #36515b !important; }
.bg-blue-lighter { background-color: #3f5a63 !important; }
.bg-blue-green { background-color: #1d3c49 !important; }
.bg-blue-green-light { background-color: #254751 !important; }
.bg-orange { background-color: #f7941d !important; }
.bg-white { background-color: white !important; }
.bg-light-grey { background-color: #f5f7f7 !important; }
.bg-lighter-grey { background-color: #f9f9f9 !important; }

.screenshot {
    width: 90%;
    max-width: 800px;
    position: relative;
    -webkit-box-shadow:0 0px 18px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 0px 18px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 0px 18px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.app-rendering {
    width: 90%;
    max-width: 600px;
}

/*BUTTONS*/
/*------------------------------------------------------------------------------*/
.btn {
    color: #FFF;
    padding: 10px 20px;
	margin: 15px 0;
    font-size: 14px;
    font-weight: 600;
	letter-spacing: 0.1em;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.btn-sm {
    padding: 7px 13px;
	font-size: 12px;
}

.btn-lg {
    padding: 16px 26px;
	font-size: 16px;
}

.btn-xl {
	padding: 18px 30px;
	font-size: 24px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

h1 .btn,
h2 .btn,
h3 .btn,
h4 .btn,
p .btn {
	margin-left: 15px;
}

/* Button DISABLED */
.disabled a {
	cursor: not-allowed;
}

/* Button DEFAULT */
.btn.btn-default {
	background: #ecf0f1;
	box-shadow: 0 2px #bdc3c7;
	color: #999;
}

.btn.btn-default:hover {
	background: #bdc3c7;
}

/* Button PRIMARY */
.btn.btn-primary {
	background: #1abc9c;
	box-shadow: 0 2px #16a085;
}

.btn.btn-primary:hover {
	background: #16a085;
}

/* Button WARNING */
.btn.btn-warning {
	background: #f2aa5c;
	box-shadow: 0 2px #ec8923;
}

.btn.btn-warning:hover {
	background: #ec8923;
}

/* Button DANGER */
.btn.btn-danger {
	background: #e74c3c;
	box-shadow: 0 2px #c0392b;
}

.btn.btn-danger:hover {
	background: #c0392b;
}

/* Button SUCCESS */
.btn.btn-success {
	background: #2ecc71;
	box-shadow: 0 2px #27ae60;
}

.btn.btn-success:hover {
	background: #27ae60;
}

/* Button DARK */
.btn.btn-dark {
	background: #34495e;
	box-shadow: 0 2px #2c3e50;
	color: #ffffff;
}

.btn.btn-dark:hover {
	background: #2c3e50;
}

/* Button INFO */
.btn.btn-info {
	background: #3498db;
	box-shadow: 0 2px #2980b9;
}

.btn.btn-info:hover {
	background: #2980b9;
}

/* Button block */
.btn-block {
  display: block;
  width: 90%; }

.btn-block + .btn-block {
  margin-top: 0.5rem; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 90%; }

/*Button Wide*/
.btn-wide {
    color: #FFF;
    padding: 10px 70px 10px 70px;
    margin: 15px 0;
    font-size: 14px;
    font-weight: 600;
	letter-spacing: 0.1em;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/* Outline Buttons */
.btn-outline {
	color: #FFF;
    align-content: center;
    padding: 12px 60px;
	margin: 15px 0px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
	letter-spacing: 0.1em;
    text-shadow: none;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.btn-outline:hover {
	text-decoration: none;
	color: #ffffff;
}

.btn-outline-sm {
	padding: 5px 13px;
	font-size: 13px;
}
.btn-outline-wide {
    padding: 10px 90px;
}

.btn-outline-lg {
	padding: 14px 26px;
	font-size: 15px;
}

.btn-outline-xl {
	padding: 18px 30px;
	font-size: 24px;
	
}

.btn-outline.outline-light,
.icon.outline-light {
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}

.btn-outline.outline-light:hover,
.icon.outline-light:hover {
	color: #193441;
	background: #ffffff;
}
.btn-outline.outline-light-red,
.icon.outline-light {
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}

.btn-outline.outline-light-red:hover,
.icon.outline-light:hover {
	color: #f05e68;
	background: #fff;
}
.btn-outline.outline-light-blue,
.icon.outline-light {
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}

.btn-outline.outline-light-blue:hover,
.icon.outline-light:hover {
	color: #193441;
	background: #fff;
}
.btn-outline.outline-light-green,
.icon.outline-light {
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}

.btn-outline.outline-light-green:hover,
.icon.outline-light:hover {
	color: #afd274;
	background: #fff;
}
.btn-outline.outline-light-orange,
.icon.outline-light {
	color: #ffffff;
	background: none;
	border: 2px solid #ffffff;
}

.btn-outline.outline-light-orange:hover,
.icon.outline-light:hover {
	color: #f2aa5c;
	background: #fff;
}

.btn-outline.outline-dark,
.icon.outline-dark {
	color: #2c3e50;
	background: none;
	border: 2px solid #2c3e50;
}

.btn-outline.outline-dark:hover,
.icon.outline-dark:hover {
	color: #ffffff;
	background: #2c3e50;
}

button:hover {
	text-decoration: none;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.nav-buttons li {
    top: -10px;
}

.nav-buttons li button a:hover {
    color: white;
    text-decoration: none;
}

.affiliate-block {
    background: url(/site/img/blue-shuriken_1.png) center center no-repeat;
    margin-top: 60px;
    margin-bottom: 60px;
}

.feature {
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    align-content: center;
    border: 1px solid #d6d7d8;
    margin: 5px;
    box-shadow: 0 3px 10px rgba(18,20,22,0.25);
   /* -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1); */
}

/* Product Header */
/*------------------------------------------------------------------------------*/
.product-intro {
    color: white;
    align-content: center;
    text-align: center;
    padding: 50px;
    height: 400px;
    background: url(/site/img/bg-blue-300.png) center center;
    background-size: cover;
}

.product-intro h1 {
    font-size: 50px;
}
.product-intro h4 {
    font-weight: 300;
}

.product-overview {
    padding: 0px 100px;
   /* margin-bottom: -60px; */
    top: -60px;
    position: relative;
    width: 80%;
    left: 10%;
    color: white;
    line-height: 1.8;
    box-shadow: 0 10px 30px rgba(18,20,22,0.25);
} 
.product-overview h4 {
    font-weight: 300;
    line-height: 1.5;
}

.product-overview h1 {
    margin-bottom: 1.5rem;
}

.box {
    padding: 1.8rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: 0 10px 30px rgba(18,20,22,0.25);
    list-style-type: none;
}

.box ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;
}

.box li {
    margin-top: 1rem;
}

.box ul i {
  margin-right: 15px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .product-overview {
        padding: 10px;
        top: 0px;
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .product-overview h1 {
        font-size: 35px;
    }
    .product-intro h1 {
        font-size: 40px;
        padding-top: 0px;
        margin-top: 0px;
    }
	
	
}




/* Help Dojo */
/*------------------------------------------------------------------------------*/
.container-row-help-dojo {
    text-align: center;
}

.container-row-help-dojo h1 {
    padding-top: 50px;
    font-weight: 300; 
}

.container-row-help-dojo .container {
    padding-top: 30px;
}


.help-dojo-block {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border: 4px solid #f2aa5c;
    
}

.help-dojo-block h3 {
    font-weight: 200;
    color: #444444;
}

.help-dojo-block i {
    color: #f2aa5c;
}

.help-dojo-block:hover {
	transform: scale(1.04) translateY(-5px);
	-webkit-transform: scale(1.04) translateY(-5px);
	z-index: 1;
	border-bottom: 4 none;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-timing-function: ease;

}

.border-orange {
    border: 4px solid #f7941d;
}

.panel {
    color: #444444;
}

/*HELP DOJO AND ACCORDION MENU CUSTOM STYLES*/

.help-dojo-content {
    padding-top: 25px;
    padding-bottom: 30px;
}

.help-dojo-content li {
    font-size: 16px;
}

.help-dojo-menu {
    padding-left: 25px;
    padding-top: 25px;
}
.panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);
    color: #333;
}
.panel-default > .panel-heading:hover {
    background-image: linear-gradient(to bottom, #3f5a63 0%, 
           #3f5a63 100%);
    color: white;
}

.panel-default h4:hover {
     background: #3f5a63;
}

.panel-title:hover {
    background: #3f5a63;
}

.panel-title > a.collapsed:hover {
    background: #3f5a63;
    color: #f7941d;
}

/*.panel-title > a.collapsed {
    background: #f5f5f5;
   color: #333333;
}*/

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
     color: #fff;
     background-color: #f5f7f7;
     border-color: #f5f7f7;
     background-image: linear-gradient(to bottom, #f5f7f7 0%, 
             #f5f7f7 100%);
     text-shadow: none;
}

.card {
    padding: 50px;
    border-radius: 4px;
    border: 1px solid #d6d7d8;
    margin-top: 2rem;
}

.card-white {
    background-color: white;
    padding: 50px;
    border-radius: 4px;
    border: 1px solid #d6d7d8;
    margin-top: 2rem;
    box-shadow: 0 3px 10px rgba(18,20,22,0.25); 
}

.content-1-5 {
    margin: 70px 0 40px 0;
}
.content-1-5 h2 {
    text-transform: uppercase;
    line-height: 1.4;
    justify-content: right;
    text-align: right;
    font-size: 26px;
    padding-left: 70px;
    margin-top: 60px;
}


.content-1-5 p {
    font-size: 18px;
    margin-top: 30px;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .content-1-5 h2 {
        margin-top: 0px;
        text-align: center;
    }
    
}

/*Homepage Content Blocks ----------------------------------------------------*/
.contact-aggregate h1 {

}
.contact-aggregate p {
    font-size: 18px;
    margin-top: 30px;
}

.contact-aggregate i {
    color: #fff;
    background-color: #5c777d;
    margin-top: 1.2em
}
.contact-aggregate .fa-border {
    padding: .39em;
    border: .05em solid #3f5a63;
    border-radius: 1em;
}


@media only screen and (max-width: 767px) {
    .contact-aggregate img {
        max-width: 85%;
        margin-left: 7.5%;
    }
}

.insights i {
    color: white;
    background-color: #f2aa5c;
}
.insights .fa-border {
    padding: .2em .42em;
    border: .05em solid #f7941d;
    border-radius: 1em;
}

.insights p {
    font-size: 1.25em;
}
.insights .reporting-features i {
    background: none;
}

.insights .reporting-features .red-icon i {
    color: #d32029;
    background: none;
    
}

.insights .reporting-features .red-icon .fa-border {
    padding: .2em .42em;
    border: .05em solid red;
    border-radius: 1em;
    
}
.insights .reporting-features .green-icon i {
    color: #afd247;
    background: none;
}

.reporting-features {
    width: 90%;
    max-width: 1300px;
}

.outreach-tools {
    color: white;
    text-align: center;
    align-content: center;
    border: 1px solid #254751;
}
.outreach-tools h2 {
    margin-top: 15px;
    text-transform: uppercase;
}
.outreach-tools p {
    font-size: 18px;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 300;
    padding-bottom: 80px;
}
.outreach-tools i {
    margin-top: 80px;
}

.global {
    background: url(/site/img/bg-communication.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 725px;
    color: white;
    padding: 120px 90px 90px 90px;
}

.global p {
    color: #cedadd;
    font-size: 17px;
}

.global p.lead {
	margin-bottom: 20px;
    font-size: 20px;
    color: #cedadd;
    text-shadow: #193441;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .global {
        padding: 40px; 
        height: 775px;
    }	
	
}

/*Pricing Page 
-----------------------------------------------------------------------------------*/
.pricing-intro {
    color: white;
    align-content: center;
    text-align: center;
    padding: 50px;
    height: 300px;
    background: url(/site/img/bg-blue-300.png) center center;
    background-size: cover;
}

.pricing-intro h1 {
    font-size: 50px;
}
.pricing-intro h4 {
    font-weight: 300;
}

/*PricingTable ----------------------------------------*/

.pricing .features {
    padding: 5px;
	border-top: none;
	margin-top: 0 !important;
}
.pricing .features li {
    padding: 15px 0;
 	border-top: 1px solid #eee;
	list-style: none;
}
.pricing .features li:first-child {
    border: none;
}

/*	Pricing Table 3
/*----------------------------------------------------*/

.pricing-table-3 .plan {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	overflow: hidden;
}

.pricing-table-3 .plan header {
	background: #193441;
	text-align: center;
	padding: 25px;
}

.pricing-table-3 .plan h2 {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: #FFF;
}

.pricing-table-3 .plan .btn {
	margin-bottom: 0;

}

.pricing-table-3 .plan .price {
	margin-bottom: 15px;
	color: #ffffff;
    padding-left: 24px;
}

.pricing-table-3 .plan .price * {
	font-family: 'Lato', sans-serif;
	line-height: 100%;
}

.pricing-table-3 .plan .price .amount {
	font-size: 81px;
	font-weight: 900;
}

.pricing-table-3 .plan .price .amount sup {
	font-weight: 700;
    font-size: 24px;
    top: -1.5em;
}
.pricing-table-3 .plan .price .amount sub {
	font-weight: 700;
    font-size: 16px;
    left: -38px;
    top: -3px;
    
}

.pricing-table-3 .plan .price .amount-sm {
	font-size: 24px;
	font-weight: 900;
    display: block;
    padding-top: 40%;
}

.pricing-table-3 .plan .price .currency {
	position: relative;
	top: 16px;
	font-size: 24px;
	vertical-align: top;
	margin-right: 5px;
}

.pricing-table-3 .plan .price .period {
	font-size: 16px;
	text-transform: uppercase;
	clear: left;
}

.pricing-table-3 .plan .features {
	background: #F5F7FA;
	padding: 25px 30px;
	border: 1px solid #E6E9ED;
	border-top: none;
	border-bottom-width: 2px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-top: 0 !important;
}

.pricing-table-3 .plan .features li {
	padding: 15px 0;
 	border-top: 1px solid #BCC7D1;
	list-style: none;
}

.pricing-table-3 .plan .features li:first-child {
	border: none;
}

.pricing-table-3 .plan .features li i {
	margin-right: 10px;
}

.pricing-table-3 .col-4 .plan header {
	padding: 40px;
}

.pricing-table-3 .col-4 .plan h2 {
	font-size: 18px;
}

.pricing-table-3 .col-4 .plan .price .amount {
	font-size: 90px;
}

.pricing-table-3 .col-4 .plan .features {
	padding: 20px 30px;
}

/*MEDIA QUERIES FOR PRICING TABLE*/
@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .pricing-table-3 .plan .price .amount {
	font-size: 50px;
	font-weight: 700;
}
    .pricing-table-3 .plan .price .amount sup {
	font-weight: 600;
    font-size: 20px;
    top: -20px;
    left: 5px;    
}
    .pricing-table-3 .plan .price .amount sub {
	font-weight: 700;
    font-size: 16px;
    left: -29px;
    top: 1px;
   }
}


@media (min-width: 1200px) and (max-width: 1600px) {
    .pricing-table-3 .plan h2 {
        font-size: 16px;}
    
}

/* Hover Effects */
.pricing-table-1 .price-block:hover {
	transform: scale(1.04) translateY(-5px);
	-webkit-transform: scale(1.04) translateY(-5px);
	z-index: 1;
	border-bottom: 0 none;
}


/* CONTENT BLOCK HOLDERS */

.content-block {
	width: 100%;
	padding: 60px 0 60px 0;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}

.content-block-nopad {
	width: 100%;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}

/* TITLES */

.underlined-title {
	text-align: center;
	padding-bottom: 30px;
}

.underlined-title h1 {
	margin: 0;
}

.underlined-title h2 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

.underlined-title hr {
	width: 10%;
	border-width: 2px;
	border-color: #f7941d;
}


/*	HEADER MAIN
/*----------------------------------------------------*/

#header-main {
    width: 100%;
    background: #fff;
    height: 100px;
    border-bottom: 1px solid #d6d7d8;
    /*box-shadow: 0 2px 8px rgba(0,0,0,0.25);*/
}

#header-main .main-nav {
    border: 0;
    height: 100px;
    background-color: #fff;
     border-bottom: 1px solid #d6d7d8;
    /*box-shadow: 0 2px 8px rgba(0,0,0,0.25);*/
}

#header-main .main-nav .navbar-toggle {
	margin-right: 0;
	margin-top: 0;
	background: #193441;
	position: absolute;
	right: 20px;
	top: 20px;
}

#header-main .main-nav .navbar-toggle:focus {
	outline: none;
}

#header-main .main-nav .navbar-toggle .icon-bar {
	background-color: rgba(255, 255, 255, 0.6);
	height: 3px;
}

#header-main .main-nav .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

#header-main .main-nav .nav {
	margin-top: 24px;
}

#header-main button {
    margin-bottom: 12px;
}

#header-main .main-nav .nav .nav-item a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #333;
}

#header-main .main-nav .nav .nav-item.active a {
	color: #f7941d;
	background: none;
}

#header-main .main-nav .nav .nav-item a:hover {
	color: #f7941d;
	background: none;
}

#header-main .main-nav .nav .nav-item a:focus {
	outline: none;
	background: none;
}

#header-main .main-nav .nav .nav-item a:active {
	outline: none;
	background: none;
}

#header-main .main-nav .nav .nav-item.active {
	color: #333;
}


#header-main .main-nav .nav .dropdown-menu {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin: 0;
	border: none;
	text-transform: none;
	min-width: 180px;
	background: #3E606F;
}

#header-main .main-nav .nav .dropdown-menu:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #3E606F;
	position: absolute;
	right: 35px;
	top: -10px;
}

#header-main .main-nav .nav .dropdown-menu a {
	padding: 8px 20px;
	color: #fff;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

#header-main .main-nav .nav .dropdown-menu a:hover {
	background: #f7941d;
	color: #fff;
}


#header-main .brand-img {
	max-width: 150px;
	padding: 25px 0;
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}


/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	background: none;
}


/*	HEADER 1 MEDIA QUERIES
/*----------------------------------------------------*/

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  	  	
	#header-main .brand-img {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	
	#header-main .navbar-fixed-top {
		position: relative;
	}
	
	#header-main .navbar-collapse {
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		width: 100%;
		top: 80px;
		position: absolute;
		background: #fff;
		z-index: 999;
	}
	
	#header-main .navbar-collapse .nav {
		margin: 0;
	}
	
	#header-main .main-nav .nav .dropdown-menu:before {
		display: none;
	}
	
	#header-main .navbar-fixed-top .navbar-collapse,
	#header-main .navbar-fixed-bottom .navbar-collapse {
		max-height: inherit;
	}
  
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
	
  
  
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
	
  
  
}

/*	PROMO-3 BLOCK
/*----------------------------------------------------*/

.promo-3 {
	background: url("../img/people-laughing-and-networking.png") center top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding: 14px 0;
    height: 725px;
}

.promo-3 h1 {
	font-size: 55px;
	color: #ffffff;
    margin-top: 155px;
}

.promo-3 h2 {
	font-weight: 300;
	color: #ffffff;
}

.promo-3 a {
	margin-top: 40px;
}


/*	HERO BLOCK 3 MEDIA QUERIES
/*----------------------------------------------------*/


/* Small Devices, Tablets */
@media (max-width: 600px) {
    .hero h1 {
       margin-top: 0px;
}
	
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
		
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	

	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	
	
}





/*FEATURES INCLUDED IN ALL PLANS & HOME PAGE FEATURES*/

.features-block {
    background-color: #f0f3f5;
}
.features-block h4 {
	margin-top: 0;
}

.features-block .fa {
	font-size: 32px;
	color: #f7941d;
}

/* TABS */

.nav-tabs {
	margin: 0 auto;
}

.nav-tabs > li {
	z-index: 2;
	float: none;
	display: inline-block;
}

.nav-tabs > li > a {
	padding: 16px 25px 12px;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #444444;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none !important;
	border-bottom: 4px solid transparent !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: transparent;
	border-bottom: 4px solid #f7941d !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
	outline: 0;
}

.tab-content {
	padding-left: 0;
	padding-right: 0;
	border: none;
}

.tab-pane {
	padding: 50px 0;
	border-bottom: 1px solid #ecf0f1;
}

/*ZOOM BLOCK ON HOMEPAGE*/

.content-1-4 {
	padding: 0px;
	position: relative;
}

.content-1-4 .image-container {
	position: absolute;
	height: 100%;
	padding: 0px;
	top: 0px;
}

.content-1-4 .image-container .background-image-holder {
	background: #000 url('wysiwyg/smartwave/porto/homepage/01/slider/grow-team-girl-on-phone.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

.content-1-4 .content {
	padding-top: 80px;
	padding-bottom: 80px;
    padding-left: 30px;
}

.content-1-4 h1 {
	margin-bottom: 32px;
}

.content-1-4 p.lead {
	margin-bottom: 20px;
}	

/*	CONTENT BLOCK 1-9 MEDIA QUERIES
/*----------------------------------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
	
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	
	
}

/*Commissions Calculator*/
/*-----------------------------------------------------------------------------*/

.commissions-box {
    margin: 0 auto;
	background: #f5f7f7;
	border-radius: 10px;
	padding: 40px 15px;
	width: 100%;
}

.ui-widget-content {
	border: 3px solid #bdc3c7;
	background: #e1e1e1;
	color: #222222;
	margin-top: 6px;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 5.2em;
	height: 2.2em;
	cursor: default;
	margin: -1em -2em auto !important;
	text-align: center;	
	line-height: 30px;
	color: #FFFFFF;
	font-size: 15px;
}

.ui-slider .ui-slider-handle .glyphicon {
	color: #FFFFFF;
	margin: 0 3px; 
	font-size: 11px;
	opacity: 0.5;
}

.ui-corner-all {
	border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle { 

}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #f9f9f9;
	background: #193441;
}

.ui-slider-horizontal .ui-slider-handle {

}

.ui-slider .ui-slider-handle {
	cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

.commissions, .lead p {
	font-weight: 600;
	font-size: 5.1em;
	display: inline-block;
	line-height: 1em;
}

h4.great {
	background: #f7941d;
    text-align: center;
    width: 35%;
	margin: 0 0 35px -60px;
	padding: 7px 15px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	display: block;
	-moz-box-shadow:    2px 4px 5px 0 #ccc;
  	-webkit-box-shadow: 2px 4px 5px 0 #ccc;
  	box-shadow:         2px 4px 5px 0 #ccc;
}

.total {
	border-bottom: 1px solid #7f8c8d;
	/*display: inline;
	padding: 10px 5px;*/
	position: relative;
	padding-bottom: 20px;
}

.total:before {
	content: "";
	display: inline;
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 3px;
	background: #7f8c8d;
	opacity: 0.5;
}

.commissions-slider {
	margin-bottom: 70px;
}

.price-slider span {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 13px;
}

.form-pricing {
	background: #ffffff;
	padding: 20px;
	border-radius: 4px;
}

.commissions-form {
	background: #ffffff;
	margin-bottom: 10px;
	padding: 60px;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	/*-moz-box-shadow:    0 5px 5px 0 #ccc;
  	-webkit-box-shadow: 0 5px 5px 0 #ccc;
  	box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
	margin-bottom: 0;
}

.form-group span.commissions {
	font-weight: 200;
	display: inline-block;
	color: #7f8c8d;
	font-size: 1.5em;
}

.help-text {
	display: block;
	margin-top: 32px;
	margin-bottom: 10px;
	color: #737373;
	position: absolute;
	/*margin-left: 20px;*/
	font-weight: 200;
	text-align: right;
	width: 188px;
}

.commissions-form label {
	font-weight: 200;
	font-size: 21px;
}

img.payment {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-slider-range-min {
	background: #2980b9;
}

#mail-signup {
    margin: 80px 0px 80px 0px
}

/*  FEATURE HEADER - Used for each feature's individual page 
/*---------------------------------------------------------------------------------------------------------*/

.feature-header {
    
}

.feature-header h1 {
   font-size: 3.75em;
}

.feature-header h4 {
    margin: 15px 0 25px 0;
    line-height: 1.5;
    color: #515157;
}

/*  FEATURE Styles - Used for each feature's individual page 
/*---------------------------------------------------------------------------------------------------------*/

#zoomSection2 {
    z-index: 1;
    height: 700px;
}
#projectsSection2 {
    z-index: 1;
}

#zoomPhone,
#hotlistPhone,
#projectsPhone {
    z-index: 20;
}

/*	FOOTER-MAIN
/*----------------------------------------------------*/

.footer-main {
	padding-top: 60px;
	padding-bottom: 20px;
}

.footer-main h3, .footer-main h4, .footer-main .lead, .footer-main li {
	color: #cedadd;
}

.footer-main .brand-img {
	width: 200px;
	margin-bottom: 30px;
}

.footer-main h4 {
	margin-bottom: 20px;
}

.footer-main ul {
	list-style-type: none;
	margin: 0 0 26px;
	padding: 0;
}

.footer-main ul li {
	border-top: 1px solid #5c777a;
	line-height: 19px;
	padding: 6px 0;
}

.footer-main li:first-child {
	border-top: none;
	padding-top: 1px;
}

.footer-main li a:hover {
    color: #f7941d;
}


/*	FOOTER-MAIN MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
		
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	

	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	
	
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    margin-top: 3em;
    margin-bottom: 3em;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    padding: 1em;
}
/*.video-wrapper {
    margin: 30px 0px 30px 0px;
    align-content: center;
}
/*.promo-video {
    height: 315px;
    width: 560px;
}*/

/*PROMO VIDEO MEDIA QUERIES*/
/* Small Devices, Tablets */
@media only screen and (max-width : 550px) {
	.promo-video {
    height: 191px;
    width: 340px;
}
    .video-wrapper {
    padding: 10px 0px 10px 10px;
  
}
		
	
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	 .video-wrapper {
    padding: 10px 0px 10px 40px;

	
}



/* PRODUCT HEADER */
/*---------------------------------------------------------------------*/

#header-product {
    width: 100%;
}

#header-product .brand {
	position: relative;
}

#header-product .brand-img {
	position: absolute;
	left: 15px;
	top: 0;
	max-width: 175px;
}

#header-product nav {
	background: none;
	margin-top: -1px;
}

#header-product nav ul {
	list-style: none;
	padding: 0 20px 0 0;
    font-size: 16px;
}

#header-product .main-nav .navbar-toggle {
	margin-right: 0;
	margin-top: 0;
	background: none;
    border: 2px solid rgba(255, 255, 255, 0.6);
	position: absolute;
	right: 20px;
	top: 90px;
}

#header-product .main-nav .navbar-toggle:focus {
	outline: none;
}

#header-product .main-nav .navbar-toggle .icon-bar {
	background-color: rgba(255, 255, 255, 0.6);
	height: 3px;
}

#header-product .main-nav .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

#header-product nav ul li {
	color: white;
	display: block;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	padding-left: 20px;
	position: relative;
}

#header-product nav ul li:last-child {
	border: none;
}

#header-product nav ul li a {
	color: white;
	display: block;
	padding: 20px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	padding-left: 0;
	position: relative;
}

#header-product nav ul li a:hover, #header-product nav ul li a:focus {
	text-decoration: none;
    color: #a2b1b5;
    background: none;
}

#header-product #nav-toggle {
	position: absolute;
	right: 15px;
	top: 0;
}

#header-product #nav-toggle {
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}

#header-product #nav-toggle span, #header-product #nav-toggle span:before, #header-product #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#header-product #nav-toggle span:before { top: -10px; }
#header-product #nav-toggle span:after { bottom: -10px; }

#header-product #nav-toggle span, #header-product #nav-toggle span:before, #header-product #nav-toggle span:after {
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
}

#header-product #nav-toggle.active span { background-color: transparent; }

#header-product #nav-toggle.active span:before, #header-product #nav-toggle.active span:after { top: 0; }

#header-product #nav-toggle.active span:before {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

#header-product #nav-toggle.active span:after {
	transform: translateY(-10px) rotate(-45deg);
	-webkit-transform: translateY(-10px) rotate(-45deg);
	-ms-transform: translateY(-10px) rotate(-45deg);
	top: 10px;
}

#header-product .navicon {
	position: relative;
	height: 26px;
}



#header-product .indicator {
	position: absolute;
	right: 0 !important;
}

#header-product .pull { display: none; }


#header-product .hero-product {
	background: url('../img/coffee-shop-networking-meet-up-blue.png') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 50px 0 10px 0;
	height: 500px;
}

#header-product .hero-product h1 {
	margin-top: 250px;
    font-size: 55px;
	font-weight: 400;
	color: #fff;
}

#header-product .hero-product .lead {
	font-weight: 300;
	color: #fff;
}



/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  #header-product nav {
	background: none;
	margin-top: 100px;
}
    #header-product .hero-product h1 {
	margin-top: 60px;
}
    #header-product nav ul li{
	font-size: 18px;
}
	
  
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
      #header-product .hero-product h1 {
	margin-top: 60px;
    }
	
  
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
	
	  
}
    




















