<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" ui-sref="app.main"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>

      <!--  <li class="nav-item px-1">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link" href="#">Settings</a>
        </li> -->
    </ul>
        <!-- Breadcrumb 
        <ol class="breadcrumb mb-0 mt-h" breadcrumb>
            <ncy-breadcrumb></ncy-breadcrumb>
        </ol> -->
    <ul class="nav navbar-nav ml-auto hidden-md-down">
       <!-- <li class="nav-item dropdown pr-2" ng-controller="languageCtrl">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img ng-src="img/flags/{{flag}}" class="img-flag" alt="{{lang}}" height="24">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>{{ 'CHOOSE_LANGUAGE' | translate }}</strong>
                </div>
                <a ng-repeat="language in languages" class="dropdown-item" href="#" ng-click="changeLanguage(language.langKey)">
                    <img ng-src="img/flags/{{language.flag}}" class="img-flag" alt="{{language.lang}}" height="24">{{language.lang}}
                </a>
            </div>
        </li> -->
            <li class="nav-item dropdown hidden-md-down">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus-square-o"></i> Quick Actions
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">

                    <div class="dropdown-header text-center">
                        <strong>Quick Actions</strong>
                    </div>

                    <a ui-sref-active="active" ui-sref="app.new-message" class="dropdown-item">
                        <i class="fa fa-edit  text-success"></i> Create new message
                    </a>
                    <a href="#addContact" data-toggle="modal" class="dropdown-item">
                        <i class="icon-user-follow text-danger"></i> Create new contact
                    </a>
                     <a ui-sref-active="active" ui-sref="app.new-tag" class="dropdown-item">
                        <i class="icon-tag text-info"></i> Create new tag
                    </a>
                    <a ui-sref-active="active" ui-sref="app.create-project" class="dropdown-item">
                        <i class="icon-star text-info"></i> Create new project
                    </a>
                    <a href="#importSpreadsheet" data-toggle="modal" class="dropdown-item">
                        <i class="icon-book-open text-primary"></i> Import Spreadsheet
                    </a>
                </div>
            </li>
                 <li class="nav-item dropdown hidden-md-down">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-envelope-letter"></i>
                    <span class="badge badge-pill badge-info">7</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">

                    <div class="dropdown-header text-center">
                        <strong>You have 4 messages</strong>
                    </div>

                    <a href="#" class="dropdown-item">
                        <div class="message">
                            <div class="py-1 mr-1 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-success"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">John Doe</small>
                                <small class="text-muted float-right mt-q">Just now</small>
                            </div>
                            <div class="text-truncate font-weight-bold">
                                <span class="fa fa-exclamation text-danger"></span>Important message</div>
                            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
                        </div>
                    </a>
                    <a href="#" class="dropdown-item">
                        <div class="message">
                            <div class="py-1 mr-1 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-warning"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">John Doe</small>
                                <small class="text-muted float-right mt-q">5 minutes ago</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
                        </div>
                    </a>
                    <a href="#" class="dropdown-item">
                        <div class="message">
                            <div class="py-1 mr-1 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-danger"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">John Doe</small>
                                <small class="text-muted float-right mt-q">1:52 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
                        </div>
                    </a>
                    <a href="#" class="dropdown-item">
                        <div class="message">
                            <div class="py-1 mr-1 float-left">
                                <div class="avatar">
                                    <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-info"></span>
                                </div>
                            </div>
                            <div>
                                <small class="text-muted">John Doe</small>
                                <small class="text-muted float-right mt-q">4:03 PM</small>
                            </div>
                            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
                        </div>
                    </a>

                    <a href="#" class="dropdown-item text-center">
                        <strong>View all messages</strong>
                    </a>
                </div>
            </li>
      <!--  <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-list"></i></a>
        </li> -->
       <!-- <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
        </li> -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
               <!-- <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"> -->
                <span class="hidden-md-down">admin</span>
            </a>
              <div class="dropdown-menu dropdown-menu-right">

                 <!--   <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>

                    <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a> -->

                    <div class="dropdown-header text-center">
                        <strong>Settings</strong>
                    </div>

                    <a class="dropdown-item" href="account-profile.html"><i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="settings.html"><i class="fa fa-wrench"></i> Settings</a>
                    <a class="dropdown-item" href="payments.html"><i class="fa fa-usd"></i> Payments</a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a>
        </li>

    </ul>
</header>
