<div class="sidebar">
    <nav class="sidebar-nav mt-2">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="fa fa-home"></i> {{ 'Home' | translate }}</a>
            </li>

            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.contacts"><i class="fa fa-users"></i> {{ 'Contacts' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active"  ui-sref="app.projects"><i class="fa fa-star"></i> {{ 'Projects' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.hotlist"><i class="fa fa-fire"></i> {{ 'Hotlist' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.reporting"><i class="fa fa-bar-chart"></i> {{ 'Reporting' | translate }}</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.recent-messages"><i class="fa fa-comments"></i> {{ 'Recent Messages' | translate }}</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.downline"><i class="fa fa-level-down"></i> {{ 'Downline' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.calendar"><i class="fa fa-calendar-o"></i> {{ 'Calendar' | translate }}</a>
            </li>
        </ul>
    </nav>
</div>
