<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="mt-3 mb-1">
                <img width="225px" src="/img/networkninjas-logo-black.png"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mx-2">
                    <div class="card-block p-2">
                          <div class="float-right w-25">
                           <span class="text-muted h5 font300">Step 2/4</span>
                            <div class="progress progress-sm mt-h">
                                <div class="progress-bar bg-success" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </div>
                             <h1 class="mt-2">Choose Plan</h1>
                             <div class="form-group">    
                                    <ul class="nn-plans">
                                       <!--<li class="plan-type">
                                        <input type="radio" id="basic" class="disabled" name="plan" />
                                        <label for="basic" class="h4 disabled">Basic</label>
                                        </li>-->
                                         <li class="plan-type">
                                        <input type="radio" id="enhanced" name="plan" />
                                        <label class="h4" for="enhanced">Enhanced</label>
                                        </li>
                                         <li class="plan-type">
                                        <input type="radio" id="professional" name="plan" />
                                        <label class="h4" for="professional">Professional</label>
                                        </li>
                                         <!--<li class="plan-type">
                                        <input type="radio" id="enterprise" name="plan" />
                                        <label class="h4"  for="enterprise">Enterprise</label>
                                        </li>-->
                                    </ul>
                             </div>
                           <button class="btn btn-warning btn-block mt-2">Choose Plan</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>