<div class="app flex-row align-items-center">
    <div class="container">
       <div class="row justify-content-center">
            <div class="mb-1">
                <img width="225px" src="/img/networkninjas-logo-black.png"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <div class="float-right w-25">
                                <span class="text-muted h5 font300">Step 5/5</span>
                                <div class="progress progress-sm mt-h">
                                    <div class="progress-bar bg-success" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <h2 class="mt-2">Congrats, and Welcome!</h2>
                            <p class="text-muted">You're on your way to becoming a true networking ninja. </p>
                     
                            <div class="row mt-2">
                                <div class="col-6">
                                    <button type="button" class="btn btn-warning px-2">Go to my account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>