<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="If you forgot your password, we can help you reset it. Just enter your email and we'll send you a code that allows you to create a new password.">
    <meta name="author" content="">
    <meta name="keyword" content="network ninjas, forgot password">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->

    <title>Forgot Password | The Network Ninjas</title>

    <!-- Icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/simple-line-icons.css" rel="stylesheet">
    <link href="css/floating-labels.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="app flex-row align-items-center">
    <div class="container">
       <div class="row justify-content-center">
            <div class="mb-1">
                <img width="225px" src="/img/networkninjas-logo-black.png"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <h2>Need your password? No problem.</h2>
                            <p class="text-muted">You'll receive an email with a code to help reset your password.</p>
            
                      
                                <!-- E-mail Address -->
                                <div class="row mt-2">
                                    <div class="col-md-10">
                                        <label>E-mail Address</label>
                                        <input type="email" required /> </div>
                                </div>    
                            <div class="row mt-1">
                                <div class="col-6">
                                    <button type="button" class="btn btn-warning px-2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap and necessary plugins -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/tether.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/floating-labels.js"></script>



</body>

</html>